# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools used in Data Science

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. matplotlib
5. SciPy

|Data Science Tools|
|     --------     |
|Jupyter Notebooks|
|RStudio|
|Relational Databases|
|NoSQL Databases|
| Git|
|Data Visualization Tools|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
min = 200
print(min,"minutes =",min/60,"hours")

200 minutes = 3.3333333333333335 hours

## Author:
name